/** Palette
light grey
#eee
yellow
#d5a021
main crimson
#5d2828
white
#fff
dark grey
#1d2121
**/

.container {
	background-color: #fff;
	padding: 0 20px;
	box-shadow: 0 0 20px;
}
#header-logo {
	max-width: 100%;
}

#header-cta {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 0px;
}

.columns, .row, .column, div, .container {
	/**border: black 1px solid; **/
}

#ctabar {
	padding: 8px;
	background-color: #d5a021;
}

#main-section {
	margin-top: 30px;
	margin-bottom: 20px;
	padding-top: 10px;

}
.area {
	width: 100%;
	text-align: left;
	padding-left: 5px;
}

#bottomcta {
	white-space: normal;
	height: auto;
}

.fineprint {
	font-size: 10px;
}

#company-info {
	text-align: left;

}