/** Palette
light grey
#eee
dark grey
#1d2121

dark crimson
#300606

main crimson
#5d2828

light crimson 
A66a6a

white
#fff

**/

.crimson {
	color: #A66a6a;
}

.container {
	background-color: #fff;
	padding: 10px 20px 30px 20px;
	box-shadow: 0 0 1em #5d2828;
}

.transparent {
	background-color: transparent;
}

.ctabutton {
	background-color: #A66a6a;
	color: #fff;
}

#header-logo {
	max-width: 100%;
}

#header-cta {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 0px;
}

.columns, .row, .column, div, .container {
	/**border: black 1px solid; **/
}

#sidebar {
}

#ctabar {
	padding: 8px;
	border-radius: 4px;
	background-color: #eee;
}

#expertise {
	padding: 8px;
}

#main-section {
	margin-top: 30px;
	margin-bottom: 20px;
	padding-top: 10px;

}
.area {
	width: 100%;
	text-align: left;
	padding-left: 5px;
}

#bottomcta {
	white-space: normal;
	height: auto;
}

.fineprint {
	font-size: 10px;
}

#company-info {
	text-align: left;

}

footer {

  text-align: center;
  max-width: 550px;
  margin: 20px auto;
}