<h1>Økonomisk og erhvervskriminalitet</h1>

<p>Er du blevet sigtet efter straffeloven på grund af dit
arbejde eller din forretning? Så sørg hurtigst muligt for at 
få hjælp af en forsvarsadvokat, der har omfattende erfaring med området.
Jeg repræsenterer jævnligt klienter, der er sigtet for:</p>
<ul>
	<li>Underslæb</li>
	<li>Bedrageri</li>
	<li>Mandatsvig</li>
	<li>Skyldnersvig</li>
	<li>Åger</li>
	<li>Hæleri</li>
</ul>

<h2>Forsvarsstrategi i erhvervsstrafferetlige sager</h2>

<p>Erhvervsstrafferetlige sager er utroligt komplekse. Mens en sag om spirituskørsel typisk 
fylder 20-30 sider, kan en sag om skyldnersvig nemt indeholde tusindvis af bilag, kontrakter og 
øvrige dokumenter, som skal granskes igennem.</p>

<p>Fordi sager, der omhandler økonomisk kriminalitet, er så komplekse, 
tager efterforskningen rigtig lang tid - typisk flere måneder. 
Ofte kan du være under efterforskning længe inden du bliver sigtet for noget. 
Har du mistanke om, at der er en efterforskning i gang mod dig, er det altafgørende, 
så sørg for at kontakte mig hurtigst muligt. Jo hurtigere, man kan lægge en forsvarsstrategi, 
jo nemmer er det at undgå en eventuel sigtelse.</p>

<p>Er du allerede blevet sigtet for en påstået økonomisk forbrydelse, er det lige så vigtigt, 
at du hurtigst muligt får saglig juridisk bistand. Sagens kompleksitet kan nemlig betyde, 
at politiet har håndplukket en bestemt historie ud af konteksten. Her kræver det den rette ekspertise at 
forstå, hvordan hele sagen er skruet sammen, og forklare det til retten på en effektiv måde.</p>

<p>Kontakt mig derfor på <strong><a href="tel:40-82-92-90">40 82 92 90</a></strong> 
for en gratis vurdering af din sag lige nu.</p>