<% @title = "Forsvarsadvokat i Aalborg | Gratis Vurdering" %>
<% @description = "Få det bedste forsvar med Jakob Dalsgaard-Hansen som din advokat. 
Jeg tilbyder erfaren, forstående og målrettet advokatbistand i Aalborg og det øvrige Nordjylland." %>



<h1>Forsvarsadvokat i Aalborg</h1>

<p>Få den bedste juridiske hjælp med Jakob Dalsgaard-Hansen som din advokat. 
Jeg tilbyder erfaren, forstående og målrettet advokatbistand i Aalborg og det øvrige Nordjylland. 
Med over 14-års erfaring med alle slags anklager - 
lige fra spirituskørsel og trafikforseelser til volds- og formueforbrydelser, er jeg den
bedste måde at sikre din frihed på.</p>

<p>Er du anholdt eller sigtet for en forbrydelse, er der god
sandsynlighed for, at du er uskyldig, eller at du blot har begået en 
ærlig fejltagelse. Uanset hvad omstændighederne måtte være, så skal mine 
kolleger og jeg nok være din trofaste støtte i denne svære situation, og
vi vil gøre alt for at sikre din frihed. <a href="mailto:jdh@gdlaw.dk">Send os en mail</a> 
eller ring på <strong><a href="tel:40-82-92-90">40 82 92 90</a></strong>.</p>

<h2>Flere muligheder for at sikre din frihed</h2>     

<p>De fleste forsvarsadvokater kan fortælle dig, om din sag er god eller dårlig,
samt hvilken straf du kan risikere at få.
Herefter vil det være op til dig, om du vil erkende anklagerne eller
få sagen indbragt for retten.</p>

<p>Som erfaren forsvarsadvokat føler jeg ikke, at det er godt nok
kun at give dig valget mellem en retssag eller erkendelse af skyld. 
Derfor arbejder jeg målrettet på at give dig flere muligheder.</p>

<p>I mange tilfælde kan en almindelig straf erstattes med mildere alternativer
som behandling, samfundstjeneste eller en betinget dom. Ved at gøre brug af
disse muligheder sikres du det optimale resultat i enhver sag.</p>

<h2>En ekspert koster det samme som en almindelig advokat.</h2>

<p>I de fleste straffesager kan du få beskikket en advokat. Det betyder,
at retten fastsætter advokatens timepris - og at du kun skal betale, 
hvis du bliver dømt skyldig. Du kan selv vælge, hvilken advokat du vil have 
beskikket. Prisen er den samme uanset om du vælger en almindelig advokat, eller
en ekspert i strafferet med 14-års erfaring. Kontakt derfor straks Jakob Dalsgaard-Hansen for en 
uforpligtende vurdering af din sag!</p>

<a href="#" class="button u-full-width ctabutton" id="bottomcta">Få en gratis vurdering af din sag</a>
