<% @title = "Kontakt | Forsvarsadvokat i Aalborg" %>
<% @description = "Find din erfarne ." %>

<h1>Forsvarsadvokaten i Aalborg</h1>

<div id="map"></div>

<p class="contact-info">
	<b><br>Kattesundet 24, st. 
	<br>9000 Aalborg</b>
<p>

<p class="contact-info">
	Du kan altid ringe til kontoret på <a href="tel:52-10-10-33">52 10 10 33</a> eller skrive til mig på e-mail: <a href="mailto:jdh@gdlaw.dk">jdh@gdlaw.dk</a>.
</p>

<script>
	function initMap() {
		var gdlaw = {lat: 57.051361, lng: 9.917718};
		var map = new google.maps.Map(document.getElementById('map'), {
		  zoom: 16,
		  center: gdlaw
		});
		var marker = new google.maps.Marker({
		  position: gdlaw,
		  map: map
		});
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLORrjJ5KtgBvGK_RRwk14Aiu12fjXYP8 &callback=initMap">
</script>
