<% @title = "Kontakt | Forsvarsadvokat i Aalborg" %>
<% @description = "Find os her." %>

<h1>Forsvarsadvokaten i Aalborg</h1>

<p class="contact-info">
	<b><br>Kattesundet 24, st. 
	<br>9000 Aalborg</b>
<p>

<p class="contact-info">
	Du kan altid ringe til kontoret på <a href="tel:52-10-10-33">52 10 10 33</a> eller skrive til mig på e-mail: <a href="mailto:jdh@dlaw.dk">jdh@dlaw.dk</a>.
</p>


