<h1>Sigtet for besiddelse af narkotika?</h1>

<p>Det kan være meget overvældende at blive anklaget for
besiddelse af euforiserende stoffer. Og uden den rette forsvarsstrategi
kan det blive unødigt dyrt - enten i form at alt for store bøder, eller i 
form af en alt for lang fængselsstraf.</p>

<h2>Forsvarsadvokat ved anklager for narkobesiddelse</h2>

<p>Er du anholdt eller sigtet for besiddelse af narkotika, er der god
sandsynlighed for, at du er uskyldig, eller at du blot har begået en 
ærlig fejltagelse. Uanset hvad omstændighederne måtte være, er en fængselsdom
aldrig det rette svar for folk med en stærk afhængighed. Det er derfor ofte muligt at 
overtale retten og politiet til at indgå en aftale om behandling, hvis man har de
rette argumenter.</p>

<h2>Videresalg eller eget forbrug</h2>

<p>Det har enorm betydning for sagen, om man sigtes for besiddelse til
eget forbrug, eller om man sigtes for besiddelse med henblik på videresalg.
Besiddelse med henblik på videresalg straffes væsentligt hårdere - oftest med 
lange fængselsstraffe. Hvis du, eller en du kender, er blevet anholdt for besiddelse
af narkotika, er det derfor vigtigt, at du <em>hurtigst muligt</em> søger hjælp
fra en erfaren forsvarsadvokat.</p>

<p>Kontakt mig på 
<strong><a href="tel:40-82-92-90">40 82 92 90</a></strong> hurtigst muligt.</p>