<h1>Spirituskørsel</h1>

<p>Er du anklaget for spirituskørsel, bør du søge hjælp hos en erfaren advokat hurtigst muligt. 
En dom for spirituskørsel kan medføre store bøder, frakendelse af kørekortet og endda konfisktion af ens køretøj, 
der tilsammen kan udgøre en meget større udgift, end hvad en advokat koster.</p>

<%= link_to "Kontakt en erfaren advokat i dag", "kontakt.html" %>


<h2>Erfaring med alle slags anklager</h2>

<p>Jeg har forsvaret klienter over for alle slags anklager:</p>
  <ul>
  <li><strong>Førstegangstilfælde med en promille under 1,2</strong> - her risikerer man typisk en bøde, 
  der svarer til ens månedsløn samt en betinget frakendelse af kørekortet.</li>
  <li><strong>Førstegangstilfælde med en promille mellem 1,2 og 2,0</strong> - man risikerer en ubetinget frakendelse af
  kørekortet i 3 år samt en bøde, der svarer til ens månedsløn ganget med promillen.</li>
  <li><strong>Førstegangstilfælde med en en promille over 2,0</strong> - ud over bøde, frakendelse af 
  kørekortet og konfiskation af ens bil, risikerer man også op til 20 dages betinget fængsel.</li>
  <li><strong>Gentagelsestilfælde</strong> - straffen her afhænger af promillen, tidligere straffe, 
  samt andre omstændigheder ved kørslen. 
  Typisk vil straffen omfatte en bøde, frakendelse af kørekortet i flere år og muligvis
  konfiskation af ens bil og en ubetinget fængselsstraf.</li>

    
<h2>Forsvarsstrategier</h2>

<p>Selv om det aldrig er nemt at forsvare sig imod en sigtelse for spirituskørsel i Danmark, 
har du formentlig en bedre sag, end du tror.</p>

<p>Politiet begår utallige fejl i forbindelse med anholdelser for spirituskørsel - 
og til tider kan en sag helt afvises af domstolen pga. proceduremæssige fejl. 
Men det kræver erfaring og nøje kendskab til de formelle regler at opfange politiets fodfejl. 
Sørg derfor altid for at <%= link_to "kontakte en erfaren advokat", "kontakt.html" %> hurtigst muligt i forløbet, 
når du er anklaget for spirituskørsel</p>

<p>Du kan også risikere, at anklageren kræver en alt for streng straf i forhold til din sigtelse.
Her er det altafgørende at have en advokat, der kender den gældende retspraksis på området og kan 
argumentere for en mildere dom. For dig kan det betyde forskellen mellem at beholde kørekortet, 
eller at miste det i flere år.</p>

<p>For at lære mere om, hvordan jeg kan hjælpe dig, kontakt mig på 88 88 88 88, eller skriv en <%= link_to "mail", "#" %>.</p>
