<h1>Færdselsadvokat i Aalborg</h1>

<p>Jeg rådgiver og repræsenterer billister, som er anklaget for 
trafikforseelser efter færdselsloven, herunder:</p>

<ul>
	<li>Kørsel over for rødt</li>
	<li>Overskridelse af hastighedsgrænsen med mere end 30%</li>
	<li>Overtrædelse af vigepligt</li>
	<li>Slalomkørsel</li>
	<li>og andre</li>
</ul>

<p>Det er muligt at være anklaget for flere punkter samtidig. 
For eksempel kan man være samtidig tiltalt for at køre over for rødt og
at overtræde hastighedsgrænsen med mere end 30%. I så fald risikerer man 
flere klip i kørekortet og en fordoblet bøde.</p>

<p>Tag en snak om dine muligheder med en erfaren forsvarsadvokat, og 
find ud af, hvordan du bedst sikrer din frihed. Kontakt mig på 
<strong><a href="tel:40-82-92-90">40 82 92 90</a></strong> lige nu.</p>