<h1>Tyveri, Brugstyveri og Indbrud</h1>

<p>Du har altid flere alternativer end det, politiet og anklageren truer med
Jeg ved af årelang erfaring, at man med de rette argumenter kan få en meget 
bedre aftale med anklagemyndigheden, end det, de oprindeligt tilbyder.</p>

<p>Jeg undersøger sagens fakta, præsenterer dig for flere muligheder, og tager mig 
af al forhandling med anklageren og dommeren.</p>

<p>Kontakt mig via <%= link_to "e-mail", "mailto:jdh@gdlaw.dk" %> eller ring på <a href="tel:52-10-10-33">52 10 10 33</a> 
i dag.</p>

<h2>Anklager om tyveri og indbrud i Aalborg og Nordjylland</h2>


<p>Der findes flere forskellige typer anklager for formueforbrydelser, og 
der er stor forskel på straffen, afhængigt af hvad man er anklaget for.</p>

<p>Tyveri - Du vil blive anklaget for tyveri, når nogen påstår, at du
har stjålet penge eller noget andet af værdi. I visse tilfælde
kan anklager om tyveri være kombineret med andet - eksempelvis anklager om indbrud.</p>

<p>Brugstyveri - Ved brugstyveri formodes det, at man ikke havde til hensigt 
at beholde det stjålne, men at man derimod blot havde lånt det uden tilladelse. 
Brugstyveri straffes som regel mildere end tyveri af tilsvarende karakter.</p>
