<h1>Anklaget for en voldelig forbrydelse?</h1>

<p>Hvis du er anklaget for vold, manddrab, eller en anden personfarlig forbrydelse, 
kan en erfaren forsvarsadvokat sikre dine rettigheder. En god forsvarsadvokat vil ikke bare 
søge at modbevise anklagerne mod dig, men også lægge en effektiv forsvarsstrategi, der
begrænser sagens konsekvenser for dit liv.</p>

<p>Jeg arbejder ud fra sagens faktiske omstændigheder ved forhandling med anklagemyndigheden.
Dette kan vende en dårlig sag til en god en. Efter min erfaring kan en kreativ tilgang til 
forsvarsstrategien medføre en løsladelse med betinget dom, selv i de grovere sager.</p>

<h2>Simpel og grov vold</h2>

<p>Straffelovens § 244 omfatter simpel vold. Med simpel vold forstås almindelig – ikke grov vold. 
Grov vold henføres i stedet til straffelovens § 245 og vold med døden til følge straffes efter straffelovens § 246.</p>

<p>Vold defineres efter straffelovens § 244 som et angreb mod en anden persons legeme. 
Derfor er psykisk vold ikke omfattet af denne bestemmelse.</p>

<p>Når der rejses tiltale for vold, så skal den udøvede vold være uberettiget. 
Dermed kan der ikke straffes for vold, hvis offeret har samtykket til volden, 
volden sker i forbindelse med myndighedsudøvelse eller lignende.</p>

<p>Hvis volden er udøvet mod personer, der handler i offentlig tjeneste, 
så rejses der i stedet tiltale efter straffelovens § 119, selvom det har været tale om simpel vold.</p>

<p>Der gælder tillige skærpende omstændigheder, hvis der udøves vold mod personer der 
via deres arbejde er særligt udsat for vold (straffelovens § 247, stk. 2) fx dørmænd.</p>