<h1>Anklaget for en voldelig forbrydelse?</h1>

<p>Hvis du er anklaget for vold, manddrab, eller en anden personfarlig forbrydelse, 
kan en erfaren forsvarsadvokat sikre dine rettigheder. En god forsvarsadvokat vil ikke bare 
søge at modbevise anklagerne mod dig, men også lægge en effektiv forsvarsstrategi, der
begrænser sagens konsekvenser for dit liv.</p>

<p>Jeg arbejder ud fra sagens faktiske omstændigheder ved forhandling med anklagemyndigheden.
Dette kan vende en dårlig sag til en god en. Efter min erfaring kan en kreativ tilgang til 
forsvarsstrategien medføre en løsladelse med betinget dom, selv i de grovere sager.</p>

<h2>Simpel og grov vold</h2>

<p>De fleste voldssager omhandler simpel vold, som defineres i straffelovens § 244. 
Med simpel vold forstås mindre farlige slag, spark og lign. 
Modsætningen hertil er grov vold, som defineres i straffelovens § 245. 
Grov vold omfatter bl.a. vold af mere farlig karakter, eksempelvis knivoverfald og lign.</p>

<p>Det er selvsagt, at grov vold straffes væsentligt hårdere end simpel vold.
Det har derfor enorm betydning, om man er anklaget for det ene eller det andet.
Problemet er dog tit, at anklagemyndigheden rejser tiltale for grov vold, selv
hvor der er tale om simpel vold. 
</p>

<p>Med min erfaring og kendskab til retspraksis kan jeg forklare dommeren, 
hvorfor en given sag ikke omfatter grov, men derimod simpel vold. For den
anklagede kan det betyde forskellen på at tilbringe flere måneder i fængsel og
at slippe med en betinget dom.</p>

<p>For at blive dømt for simpel eller grov vold, skal den udøvede vold være uberettiget. 
Det betyder, at man ikke kan blive dømt for vold, hvis der er tale om selvforsvar, 
hvis offeret selv er gået med til det, eller hvis det udøves i forbindelse med myndighedsudøvelse og lignende.</p>
